.cabecalho {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container {
    display: flex;
    align-items: center;
}

.container__img {
    padding: 1em;
}

.list-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__button:checked ~ .list-menu {
    display: block;
}

.list-menu__titulo, 
.list-menu__item {
    padding: 1em;
    background-color: var(--white);
}

.list-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}